#content main .table-data .order table th {
	padding-bottom: 12px;
	font-size: 13px;
	text-align: left;
	border-bottom: 1px solid var(--grey);
	padding: 0px 13px 20px 3px;
}
#content main .table-data .order table td {
	padding: 0px 13px 0px 3px;
	font-size: 13px;
	text-align: left;
 	/* vertical-align: top; */
}

#content main .table-data .order table td .status span{
	vertical-align: center;
}

tr{
	height: 35px;
}

td span{
	vertical-align: center;

}

.content .tabs_wrapper {
    display: flex;
    align-items: center;
    /* border-radius: 50px; */
    padding: 10px;
    position: relative;
}

.content .tabs_wrapper .tab {
    /* border-radius: 50px; */
    vertical-align: middle;
    font-size: 16px;
    font-weight: 500;
    width: 120px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #6e6e6e;
    user-select: none;
    transition: all 0.4s;
}

.content .tabs_wrapper .tab .title {
    vertical-align: middle;
}

.content .tabs_wrapper input {
    display: none;
}

.content .tabs_wrapper .shape {
    width: 130px;
    height: 40px;
    align-items: center;
    border-radius: 20px;
    position: absolute;
    top: 10px;
    left: 20px;
    opacity: 1;
    transition: all 0.5s;
}

.content .tabs_wrapper #tab_1:checked~.shape {
    left: 0px;
}

.content .tabs_wrapper #tab_1:checked~.tab[for=tab_1] {
    z-index: 1;
    color: #2b2b2b;
}

.content .tabs_wrapper #tab_2:checked~.shape {
    left: calc(10px + 120px);
    margin-left: -6px;

}

.content .tabs_wrapper #tab_2:checked~.tab[for=tab_2] {
    z-index: 1;
    color: #2b2b2b;
}

.content .tabs_wrapper #tab_3:checked~.shape {
    left: calc(10px + 120px * 2);
}

.content .tabs_wrapper #tab_3:checked~.tab[for=tab_3] {
    z-index: 1;
    color: #2b2b2b;
}

.btn-Corte{
    background-color: #ffe35e;
    border: none;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    margin-top: 20px;
    padding: 10px;
    align-content: space-between;
}
.btn-Corte:hover{
    background-color: #d3bf5e;
}

.mountFull span{
    width: 180px;
    height: 40px;
    padding: 5px;
    align-items: center;
    background: #e4b9a5;
    border-radius: 20px;
    opacity: 1;
    color: rgb(255, 255, 255);
    font-size: 90%;
    font-weight: bold; 
}

/* From Uiverse.io by 3bdel3ziz-T */ 
.select {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    cursor: pointer;
    position: relative;
    -webkit-transition: 300ms;
    transition: 300ms;
    color: white;
    overflow: hidden;
  }
  
  .selected {
    background-color: #2a2f3b;
    padding: 5px;
    margin-bottom: 3px;
    border-radius: 5px;
    position: relative;
    z-index: 100000;
    font-size: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  
  .arrow {
    position: relative;
    right: 0px;
    height: 10px;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    width: 25px;
    fill: white;
    z-index: 100000;
    -webkit-transition: 300ms;
    transition: 300ms;
  }
  
  .options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border-radius: 5px;
    padding: 5px;
    background-color: #2a2f3b;
    position: relative;
    top: -100px;
    opacity: 0;
    -webkit-transition: 300ms;
    transition: 300ms;
  }
  
  .select:hover > .options {
    opacity: 1;
    top: 0;
  }
  
  .select:hover > .selected .arrow {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  
  .option {
    border-radius: 5px;
    padding: 5px;
    -webkit-transition: 300ms;
    transition: 300ms;
    background-color: #2a2f3b;
    width: 150px;
    font-size: 15px;
  }
  .option:hover {
    background-color: #323741;
  }
  
  .options input[type="radio"] {
    display: none;
  }
  
  .options label {
    display: inline-block;
  }
  .options label::before {
    content: attr(data-txt);
  }
  
  .options input[type="radio"]:checked + label {
    display: none;
  }
  
  .options input[type="radio"]#all:checked + label {
    display: none;
  }
  
  .select:has(.options input[type="radio"]#all:checked) .selected::before {
    content: attr(data-default);
  }
  .select:has(.options input[type="radio"]#option-1:checked) .selected::before {
    content: attr(data-one);
  }
  .select:has(.options input[type="radio"]#option-2:checked) .selected::before {
    content: attr(data-two);
  }
  .select:has(.options input[type="radio"]#option-3:checked) .selected::before {
    content: attr(data-three);
  }
  
  

/* .content .tabs_wrapper #tab_4:checked~.shape {
    left: calc(10px + 130px * 4);
} */

/* #content main .table-data .todo {
	flex-grow: 1;
	flex-basis: 300px;
	background-color: var(--light-yellow);

} */

.mat-mdc-paginator {
    display: block;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: var(--mat-paginator-container-text-color);
    background-color: var(--ligth); 
    font-family: var(--mat-paginator-container-text-font);
    line-height: var(--mat-paginator-container-text-line-height);
    font-size: var(--mat-paginator-container-text-size);
    font-weight: var(--mat-paginator-container-text-weight);
    letter-spacing: var(--mat-paginator-container-text-tracking);
}
