<div class="table-data">
    <div class="order">
        <div class="head">
        </div>
        <table>
            <thead>
                <tr>
                    <th>Folio</th>
                    <th>Monto</th>
                    <th>Referencia</th>
                    <th>Capturista</th>
                    <th>Fecha</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>

                    </td>

                    <td>

                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>