 <app-navbar></app-navbar>
<div id="content">
    <main>
        <div class="table-data">
            <div class="todo">
                <div class="head-title">
                    <div class="left">
                        <h1>Autorización de gastos</h1>
                        <ul class="breadcrumb">
                            <li>
                                <a href="/dashboardfull">Dashboard</a>
                            </li>
                            <li><i class='bx bx-chevron-right'></i></li>
                            <li>
                                <a class="active" href>Autorización de gastos</a>
                            </li>
                        </ul>
                    </div>
                    <div class="imgPrueb">
                        <img src="assets/sssss.png" alt="">
                    </div>           
                </div>
            </div>
        </div>
        <div>
            <div class="table-data">
                <div class="order">
                    <div class="head">
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <th>Folio</th>
                                <th>Responsble</th>
                                <th>Proveedor</th>
                                <th>Tipo</th>
                                <th>Justificacion</th>
                                <th>Monto</th>
                                <th>Estado</th>
                                <th></th>
                                
                            </tr>
                        </thead>
                            <tbody>
                                <tr *ngFor="let s of solicitudes">
                                    <td>
                                        <h5>{{s.folio}}</h5>
                                    </td>
                                    <td>
                                        {{s.solicitante}}
                                    </td>
                                    <td>
                                        {{s.proveedor}}
                                    </td>
                                    <td>
                                        {{s.tipo}}
                                    </td>
                                    <td>
                                        {{s.justificacion}}
                                    </td>
                                    <td>
                                        {{s.monto}}
                                    </td>
                                    <td *ngIf='s.estatus=="AUTORIZADO"'>
                                        <span class={{pending}}>{{s.estatus}}</span>
                                    </td>
                                    <td *ngIf='s.estatus=="APROBADO"'>
                                        <span class={{completed}}>{{s.estatus}}</span>
                                    </td>
                                    <td *ngIf='s.estatus=="RECHAZADO"'>
                                        <span class={{pending}}>{{s.estatus}}</span>
                                    </td>
                                    <td>
                                        <div class="input-box">
                                            <div class="select-box">
                                                <select type="text"formControlName="status" >
                                                    <option hidden>Estatus</option>
                                                    <option *ngFor="let s of status" [value]="s.idStatus">{{s.nombre}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
</div>
