<div class="container">
    <div class="card">
        <div class="contentBox">
          <h3 style="color: black;">{{nombre}}</h3>
          <h2 style="color: black;" class="price">{{precio}}</h2>
          <h2 style="color: black;" class="price">{{naturaleza}}</h2>
        </div>
      </div>
</div>
<!-- <div class="macbook-air">
  <div class="div">
    <div class="overlap-wrapper">
      <div class="overlap">
          <div class="overlap-group">
              <div class="rectangle"></div>
              <div class="div"></div>
              <div class="text-wrapper">Verificador de precios</div>
              <div class="group">
                  <img class="ean" src="img/ean13-1.png" />
                  <p class="p">Pasa el codigo de barras por el lector.</p>
                  <p class="lector-de-codigo-de">Lector de codigo <br />de barras</p>
              </div>
              <img class="down-arrow" src="img/down-arrow.png" />
          </div>
          <img class="surface" src="img/surface-1.png" />
          <div class="logopab-wrapper"><img class="logopab" src="img/logopab1-2.png" /></div>
      </div>
  </div>
  </div>
</div> -->
