<app-navbar></app-navbar>

<div id="content">
    <main>
        <div class="table-data">
            <div class="todo">
                <div class="head-title">
                    <div class="left">
                        <h1>Comprobacion de gastos</h1>
                        <ul class="breadcrumb">
                            <li>
                                <a href="#">Home</a>
                            </li>
                            <li><i class='bx bx-chevron-right'></i></li>
                            <li>
                                <a class="active" href="#">capturas</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-data">
            <div class="todo">
                <div class="content">
                    <div class="tabs_wrapper">
                        <input type="radio" name="tabs" id="tab_1"
                            [checked]="estadoActual === 'remision'"
                            (click)="cambiarEstado('remision')" />
                        <label class="tab" for="tab_1">
                            <span class="title">Remision</span>
                        </label>
                        <input type="radio" name="tabs" id="tab_2"
                            [checked]="estadoActual === 'recurrente'"
                            (click)="cambiarEstado('recurrente')" />
                          <label class="tab" for="tab_2">
                            <span class="title">Facturados</span>
                        </label>
                        <span class="shape"
                            [ngClass]="{'remision-shape': estadoActual === 'remision', 'facturados-shape': estadoActual === 'facturado'}"></span>
                    </div>
                </div>
            </div>
            <div class="mountFull">
                <span>{{formatMonto(remanenteChequeSelect)}}</span>
            </div>
        </div>
        <div class="table-data">
            <div class="order">
                <section class>
                    <form action="#" class="form" [formGroup]="captureForm">
                        <div class="column">
                        
                        </div>
                        <div class="column">
                            <div class="input-box">
                                <h3>Clasificacion de partida</h3>
                                <div class="select-box">
                                    <select formControlName="clasificacion" type="text">
                                        <option hidden>Sucursal a que se le
                                            emitira el gasto</option>
                                        <option *ngFor="let s of sucursales"
                                            [value]="s.idBranch">{{s.nameBranch}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="input-box">
                                <h3>Partida</h3>
                                <div class="select-box">
                                    <select formControlName="partida"
                                        type="text"
                                        (ngModelChange)="onChangeResp($event)">
                                        <option hidden>Sucursal a que se le
                                            emitira el gasto</option>
                                        <option *ngFor="let s of empleados"
                                            [value]="s.idEmpleado">{{s.Nombre +
                                            ' ' + s.Paterno + ' ' + s.Materno}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="input-box">
                                <h3>Proveedor</h3>
                                <div class="select-box">
                                    <select formControlName="idProvedor">
                                        <option hidden> Provedor facturado</option>
                                        <option *ngFor="let s of provider"
                                            [value]="s.idProvider">{{s.nameProvider}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="input-box" >
                                <h3>Empresa solicitante</h3>
                                <input type="text"
                                    placeholder=""
                                    formControlName="empresaSol" required>
                            </div>
                            <div class="input-box" >
                                <h3>Fuente de financiamiento</h3>
                                <input type="text"
                                    placeholder=""
                                    formControlName="financiamiento" required>
                            </div>
                            <div class="input-box" >
                                <h3>Area</h3>
                                <div class="select-box">
                                    <select formControlName="area">
                                        <option hidden>Area en donde se genera
                                            el gasto</option>
                                        <option *ngFor="let area of areas"
                                            [value]="area.idArea">{{area.nameArea}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="input-box">
                                <h3>Tipo de pago</h3>
                                <div class="select-box">
                                    <select formControlName="tipoDeGasto">
                                        <option hidden>Cheque de asignacion</option>
                                       
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="input-box">
                                <h3>Efectivo solicitado</h3>
                                <input type="intiger"
                                    placeholder="Ingresa el monto"
                                    formControlName="efectivoSol" required />
                            </div>
                            <div class="input-box">
                                <h3>Efectivo Comprobado</h3>
                                <div class="select-box">
                                    <select formControlName="efectivoComprobado">
                                        <option hidden>Cheque de asignacion</option>
                                       
                                    </select>
                                </div>
                            </div>
                             <label for="file-input" class="drop-container">
                            <span class="drop-title">Drop files here</span>
                            or
                            <input type="file" accept="image/*" required="" id="file-input" formControlName="comprobante">
                          </label>
                        </div>
                        <div class="input-box address">
                            <h3>Justificación</h3>
                            <textarea type="text"
                                placeholder="Justificacion del gasto"
                                formControlName="justificacion" required></textarea>
                        </div>
                        <div class="column">
                            <button class="sucess" *ngIf="captureForm.valid"
                                (click)="capturaGasto()">Finalizar captura</button>
                            <button class="invalid" *ngIf="!captureForm.valid"
                                (click)="capturaGasto()">Finalizar
                                captura</button>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </main>
</div>
