<div class="table-data">
    <div class="order">
        <div class="head">
            <h3>Reporte de ventas</h3>
            <div class="filtro">

                <input class="inptFechanp" type="date">
                <input type="date">
                <div>
                    <span>Monto total</span>
                    
                </div>
                <!-- <mat-form-field appearance="fill">
                    
                    
                    <mat-label>Fecha</mat-label>
                    <mat-select>
                        <mat-option value="option">Option</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Tipo</mat-label>
                    <mat-select>
                        <mat-option value="option">Option</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Folio</mat-label>
                    <mat-select>
                        <mat-option value="option">Option</mat-option>
                    </mat-select>
                </mat-form-field> -->
            </div>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Folio</th>
                    <th>Monto</th>
                    <th>Referencia</th>
                    <th>Capturista</th>
                    <th>Fecha</th>
                </tr>
            </thead>
            <tbody>
                <tr >
                    <td>

                    </td>

                    <td>

                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                </tr>

            </tbody>
        </table>
    </div>

</div>