<app-navbar></app-navbar>
<div id="content">
    <main>
        <!-- <div class="head-title">
            <div class="left">
                <h1>Panel de administracion</h1>
            </div>
        </div> -->
        
        <ul class="box-info">
            <li (click)="reCapt()">
                <i class='bx bxs-calendar-check'></i>
                <span class="text">
                    <h3>Captura de cheques</h3>
                    <p>Nueva orden</p>
                </span>
            </li>
            <li (click)="reAuth()">
                <i class='bx bxs-shield'></i>
                <span class="text">
                    <h3>Autorizacion de gastos</h3>
                    <p>Gastos</p>
                </span>
            </li>
            <li (click)="reGast()">
                <i class='bx bxs-dollar-circle'></i>
                <span class="text">
                    <h3>Revision de gastos</h3>
                    <p>Total de gastos</p>
                </span>
            </li>
        </ul>
        <div class="table-data">
            <div class="order">
                <div class="head ">
                    <div>
                        <h5>Tipo de gasto
                            <div class="tooltip top">
                                <i class=' bx bx-info-circle'></i>
                                <span class="tiptext">Grafica informativa que
                                    muestra el gasto por concepto y cuantos
                                    usuarios han gastado por ese concepto</span>
                            </div>
                        </h5>
                    </div>
                </div>
                <div>
                    <canvas id="type">{{ chartType }}</canvas>
                </div>
            </div>
            <div class="order">
                <div class="head">
                    <h5>Flujo de caja
                        <div class="tooltip top">
                            <i class=' bx bx-info-circle'></i>
                            <span class="tiptext">Efectivo que se tiene en caja
                                disponible y el efectivo que se ha gastado</span>
                        </div>
                    </h5>
                </div>
                <div class="efectivo-caja">
                    <div>
                        <h3>$53,294 <span>Deposito</span></h3>
                        <div class="progres-bar">
                            <progress class="animated-progress progress-blue" value="60" max="100"></progress>
                        </div>
                    </div>
                    <div>
                        <h3>$3,843 <span>Remanente</span></h3>
                        <div class="bar-remantente">
                            <progress class="animated-progress progress-blue" value="10" max="50"></progress>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-data">
            <div class="todo">
                <div class="head">
                    <h5>Actividad de gastos
                        <div class="tooltip top">
                            <i class=' bx bx-info-circle'></i>
                            <span class="tiptext">Estadisticas graficas de los gastos mas recurrentes en la empresa</span>
                        </div>
                    </h5>
                </div>
                <ul class="todo-list">
                    <canvas id="actyviti">{{ chartActyviti }}</canvas>
                </ul>
            </div>
            
        </div>
    </main>
</div>
