<h2 mat-dialog-title>Formulario de Ejemplo</h2>
<mat-dialog-content>
  <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <!-- Contenedor para los selects -->
    <div class="select-container">
      <!-- Select para el nombre -->
      <mat-form-field appearance="fill">
        <mat-label>Caja</mat-label>
        <mat-select formControlName="nombre" required>
          <mat-option *ngFor="let c of cajas" [value]="c.idCaja">
            {{ c.nombre }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Select para el email -->
      <mat-form-field appearance="fill">
        <mat-label>Movimiento</mat-label>
        <mat-select formControlName="email" required>
          <mat-option *ngFor="let m of movimientos" [value]="m.idCatalogo">
            {{ m.nombre }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Select para el mensaje -->
      <mat-form-field appearance="fill">
        <mat-label>Concepto</mat-label>
        <mat-select formControlName="mensaje" required>
          <mat-option *ngFor="let c of conceptos" [value]="c.idCatalogo">
            {{ c.nombre }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button mat-button color="primary" (click)="onSubmit()">Enviar</button>
</mat-dialog-actions>