<app-navbar></app-navbar>

<div id="content">
    <main>
        <div class="head-title">
            <div class="left">
                <h1>Captura de transferencias</h1>
            </div>
        </div>
        <div class="table-data">
            <div class="order">
                <section class="">
                    <form action="#" class="form" [formGroup]="captureForm">
                        <!-- <div class="column">
                            <label for=""><h4>Numero de cuenta</h4></label>
                            <input type="radio" name="" id="">
                            <label for=""><h4>Clabe interbancaria</h4></label>
                            <input type="radio" name="" id="">
                        </div> -->
                        <div class="input-box">
                            <h3>Numero de cuenta</h3>
                            <input type="intiger" placeholder="Ingresa el numero de cuenta" required formControlName="account"/>
                        </div>
                        <!-- <div class="input-box">
                            <h3>Clabe interbancaria</h3>
                            <input type="intiger" placeholder="Ingresa la clave interbancaria" required/>
                        </div> -->
                        <div class="input-box">
                            <h3>Destinatario</h3>
                            <input type="intiger" placeholder="Ingresa el monto" required formControlName="destinatario"/>
                        </div>

                        <div class="column">
                            <div class="input-box">
                                <h3>Importe</h3>
                                <input type="intiger" placeholder="Ingresa el monto" required formControlName="mount"/>
                            </div>
                            <div class="input-box">
                                <h3>Referencia</h3>
                                <input type="intiger" placeholder="referencia de pago" required formControlName="referencia"/>
                            </div>
                        </div>
                        <div class="column">
                            <button class="cancel" (click)="cancelar()">Cancelar captura</button>
                            <button class="sucess"  (click)="registroTransfer()" *ngIf="captureForm.valid" [disabled]="!captureForm.valid">Finalizar captura</button>
                            <button class="invalid" (click)="registroTransfer()" *ngIf="!captureForm.valid" [disabled]="!captureForm.valid">Finalizar captura</button>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </main>
</div>

