<app-navbar></app-navbar>

<div id="content">
    <main>
        <div class="table-data">
            <div class="todo">
                <div class="head-title">
                    <div class="left">
                        <h1>Asignacion de presupuesto</h1>
                        <ul class="breadcrumb">
                            <li>
                                <a href="#">Home</a>
                            </li>
                            <li><i class='bx bx-chevron-right'></i></li>
                            <li>
                                <a class="active" href="#">vista</a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-data">
            <div class="order">
                <section class="">
                    <form action="#" [formGroup]="registerForm" class="form">
                        <div class="column">

                            <div class="input-box">
                                <h3>Empresa</h3>
                                <input type="intiger" placeholder="Nombre de la sucursal" required formControlName="sucursal"/>
                            </div>
                            
                            <div class="input-box" [formGroup]="registerForm">
                                <h3>Presupuesto</h3>
                                <div class="select-box">
                                    <select type="text"
                                        formControlName="servicio"
                                        >
                                        <option hidden>Estatus</option>
                                        <option>Remodelacion 3ra Sur</option>
                                        <option>Nueva sucursal</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        
                        <div class="column">
                            <div class="input-box">
                                <h3>Monto</h3>
                                <input type="intiger" placeholder="Ingresa el monto" required/>
                            </div>
                            <div class="input-box" [formGroup]="registerForm">
                                <h3>Servicio</h3>
                                <div class="select-box">
                                    <select type="text">
                                        <option hidden>Estatus</option>
                                        <option>Fonataneria</option>
                                        <option>Electrica</option>
                                        <option>Herreria</option>
                                        <option>Albañileria</option>
                                        <option>Cerrageria</option>
                                        <option>Seguridad perimetral</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        
                        <div class="column">
                            <button class="sucess" (click)="registroSucursal()">Finalizar captura</button>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </main>
</div>

