<app-navbar></app-navbar>
<div id="content">
    <main>
        <div class="table-data">
            <div class="todo">
                <div class="head-title">
                    <div class="left">
                        <h1>Presupuestos</h1>
                        <ul class="breadcrumb">
                            <li>
                                <a href="#">Home</a>
                            </li>
                            <li><i class='bx bx-chevron-right'></i></li>
                            <li>
                                <a class="active" href="#">vista</a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <span></span>
                    </div>
                   
                </div>
            </div>
        </div>
        <div class="table-data">
            <div class="order">
                <ul class="box-info">
                    <!-- <li class="hoverme"   (click)="redirectCorte()">
                        <i class='bx bx-dollar'></i>
                        <span class="text">
                            <h3>Cortes parciales</h3>
                            <p>Recibo de vales de cortes parciales</p>
                        </span>
                    </li> -->

                    <!-- </li> -->
                    <li class="hoverme" (click)="redirectNew()">
                        <!-- <i class='bx bx-money-withdraw'></i> -->
                        <i class='bx bxs-message-square-add'></i>
                        <span class="text">
                            <h3>Presupuesto</h3>
                            <p>Creacion de presupuestos </p>
                        </span>
                    </li>
                    <li class="hoverme2" (click)="redirectAsig()">
                        <i class='bx bx-book-add'></i>
                        <span class="text">
                            <h3>Presupuesto</h3>
                            <p>Asignaciones de presupuesto</p>
                        </span>
                    </li>
                    <!-- <li class="hoverme1"  (click)="redirect4()">
                        <i class='bx bxs-shield'></i>
                        <span class="text">
                            <h3>Captura</h3>
                            <p>Capturas de ajustes de cortes</p>
                        </span>
                    </li> -->
                    <!-- <li class="hoverme2"  (click)="redirect5()">
                        <i class='bx bxs-shield'></i>
                        <span class="text">
                            <h3>Efectivo X</h3>
                            <p>Detalle de efectivo X</p>
                        </span>
                    </li> -->
                </ul>
            </div>
        </div>
        <div class="table-data">
            <div class="order">
                <div class="head ">
                    <div>
                        <h5>Presupuesto por partidas
                            <div class="tooltip top">
                                <i class=' bx bx-info-circle'></i>
                                <span class="tiptext">Presupuestos generados en base a una partida</span>
                            </div>
                        </h5>
                    </div>
                </div>
                <div>
                    <canvas id="type">{{ myChart }}</canvas>
                </div>
            </div>
            <div class="order">
                <div class="head ">
                    <div>
                        <h5>Gastos de presupuesto
                            <div class="tooltip top">
                                <i class=' bx bx-info-circle'></i>
                                <span class="tiptext">Grafica informativa del estado de los gastos efectuados por
                                    presupuesto</span>
                            </div>
                        </h5>
                    </div>
                </div>
                <div>
                    <canvas id="pie">{{ piecito }}</canvas>
                </div>
            </div>
        </div>
    </main>
</div>