.animated-progress {
    width: 558px;
    height: 20px;
    border-radius: 20px;
    margin: 20px 10px;
    background-color: rgba(16, 82, 119, .39);
    overflow: hidden;
    position: relative;
}

.animated-progress span {
    height: 100%;
    display: block;
    width: 0;
    color: rgb(255, 251, 251);
    line-height: 30px;
    position: absolute;
    text-align: end;
    padding-right: 5px;
}

.progress-blue span {
    background-color: #105277;
}

.efectivo-caja span{
    font-size: 12px;
    font-weight: 100;
    color: darkgray;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    text-align: center;
    border-radius: 3px;
    padding: 6px 0;
    position: absolute;
    z-index: 1;
    box-shadow: 0 5px 10px rgba(161, 143, 143, 0.2);
    font-size: 11px;
    font-weight: 100;
}
/* .tooltip .tiptext::after {
    content: "";
    position: absolute;
    border-width: 5px;
    border-style: solid;
} */
.tooltip:hover .tiptext {
    visibility: visible;
}