<app-navbar></app-navbar>
<div id="content">
    <main>
        <div class="table-data">
            <div class="todo">
                <div class="head-title">
                    <div class="left">
                        <h1>Liberacion de efectivo</h1>
                        <ul class="breadcrumb">
                            <li>
                                <a href="#">Home</a>
                            </li>
                            <li><i class='bx bx-chevron-right'></i></li>
                            <li>
                                <a class="active" href="#">vista</a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <span></span>
                    </div>
                    <!-- <a href="#" class="btn-download">
                        <i class='bx bx-export'></i>
                         <span class="text">Exportar XLS</span>
                    </a> -->
                </div>
            </div>
        </div>
         <div>
            <div class="table-data">
                <div class="order">
                    <div class="head">
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <th>Folio</th>
                                <th>Area</th>
                                <th>Sucursal</th>
                                <th>Responsble</th>
                                <th>Importe</th>
                                <th>Provedor</th>
                                <th>Fecha</th>
                                <th>Justificacion</th>
                                <th>Autorizo</th>
                                <th>Status</th>
                                <th>Efectivo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let g of gastos">
                                <td>
                                    <h5>{{g.folio}}</h5>
                                </td>
                                <td>
                                    <h5>{{g.area}}</h5>
                                </td>
                                <td>
                                    {{g.empresa}}
                                </td>
                                <td>
                                    {{g.responsable}}
                                </td>
                                <td>
                                    <h5><Span>$</Span>{{g.monto}}</h5>
                                </td>
                                <td>
                                    {{g.proveedor}}
                                </td>
                                <td>
                                    
                                </td>
                                <td>
                                    
                                </td>
                                <td>
                                    {{g.idLiberador}}
                                </td>
                                <td *ngIf='g.estatus!="PENDIENTE"'>
                                    <span class={{completed}}>{{g.estatus}}</span>
                                </td>
                                <td *ngIf='g.estatus==="PENDIENTE"'>
                                    <span class={{pending}}>{{g.estatus}}</span>
                                </td>
                                <td *ngIf='g.liberador!=null'>
                                    <span class={{completed}}>Liberado</span>
                                </td>
                                <td *ngIf='g.liberador===null'>
                                    <span class={{pending}}>{{g.estatus}}</span>
                                </td>
                                <td>
                                    <button (onclick)="liberacion(g)" type="button" class="btn-primary">
                                        Liberar
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div> 
    </main>
</div>